body {
    padding: 65px;
    padding-bottom: 140px;
    padding-left: 10px;
    padding-right: 10px; 
}
li:nth-child(even) {
    background: rgb(157, 190, 228);   
}
li, .form-control {
    font-style: normal;
    font-weight: bold;
    font-size: 110%;
}
#error {
    background: rgb(230, 200, 137);
}
ul {
    list-style: none;
}